* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
	padding: 2em;
	font-size: 16px;
	background-color: #fff;
	border-radius: 2em;
}
.chat-content {
	flex: 1;
	overflow-y: auto;
	padding: 1em 0;
	.line {
		margin-top: 10px;
		display: flex;
		flex-flow: column;
		&.mine {
			.chat-box {
				margin-left: auto;
				background-color: #442929;
				color: #fff;
			}
			.time {
				margin-top: 0.5em;
				margin-left: auto;
			}
		}
	}
	.chat-box {
		background-color: #ffecec;
		padding: 0.8em;
		border-radius: 0.5em;
		max-width: 200px;
		font-size: 1em;
	}
	.time {
		font-size: 0.8em;
	}
}

form {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	font-size: 1em;
	input {
		width: calc(100% - 100px);
		height: 40px;
		padding: 0.8em;
		background-color: #fff;
		border: 1px solid #534343;
		border-radius: 0.5em;
	}
	button {
		width: 100px;
		margin-left: 5px;
		background-color: #7d2a30;
		border: 0;
		border-radius: 0.5em;
		color: #fff;
		box-shadow: none;
		cursor: pointer;
		&:disabled {
			opacity: 0.6;
			background-color: #fff;
			color: #7d2a30;
			cursor: default;
		}
	}
}
