.App {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em;
	font-size: 16px;
}
.chat-content {
	height: 350px;
	overflow-y: auto;
	.line {
		margin-top: 10px;
		display: flex;
	}
	.chat-box {
		background-color: #eee;
		padding: 5px;
		border-radius: 10px;
		max-width: 200px;
		font-size: 1em;
	}
	.mine {
		margin-left: auto;
	}
}

form {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	input {
		width: calc(100% - 100px);
		height: 30px;
		border: 1px solid #000;
	}
	button {
		width: 100px;
	}
}
